In [1]:
#1
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import tensorflow as tf

#2
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
from sklearn.tree import DecisionTreeClassifier

from sklearn.ensemble import RandomForestClassifier

#3
from sklearn.metrics import mean_absolute_error, accuracy_score

#4
from tensorflow.keras.layers import Input, Dense, Activation,Dropout

#5
from tensorflow.keras.models import Model

In [2]:
#6
from google.colab import files
import io

# Prompting to upload the train.csv
uploaded_train = files.upload()

Saving train.csv to train.csv

In [0]:
df = pd.read_csv(io.BytesIO(uploaded_train['train.csv']), index_col='PassengerId')

In [4]:
# Prompting to upload the test.csv file
uploaded_test = files.upload()

Saving test.csv to test.csv

In [0]:
# Save the testing data into a dataframe
df_test = pd.read_csv(io.BytesIO(uploaded_test['test.csv']), index_col='PassengerId')

In [10]:
#7
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [7]:
#Please check the test dataframe's columns
df_test.columns

Index(['Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

### Classify the features

In [12]:
#8
df.dtypes.unique

<bound method Series.unique of Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object>

In [0]:
#9
df['Family'] = df['SibSp'] + df['Parch']

In [0]:
#10
df = df.drop(columns=['SibSp', 'Parch'])

In [15]:
#11
df.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
Ticket        0
Fare          0
Cabin       687
Embarked      2
Family        0
dtype: int64

In [0]:
#12
df = df.drop(columns=['Cabin'])

In [18]:
#13
df.groupby(['Pclass'])['Age'].mean()

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [0]:
#14
df['Age'] = df['Age'].fillna(df.groupby(['Pclass'])['Age'].transform(np.mean))

#df['Age'] = df['Age'].fillna(df.groupby(['Pclass'])['Age'].mean())

In [28]:
df['Age'].isnull().sum()

0

In [0]:
#15

df['Embarked'] = df['Embarked'].fillna('S')

In [30]:
df['Embarked'].isnull().sum()

0

In [57]:
#16
#df.isnull().sum()

df.isna().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
Ticket      0
Fare        0
Embarked    0
Family      0
dtype: int64

In [0]:
#17
df['Sex'].replace(['male','female'],[1,0],inplace=True)

In [59]:
df['Sex']

PassengerId
1      1
2      0
3      0
4      0
5      1
      ..
887    1
888    0
889    0
890    1
891    1
Name: Sex, Length: 891, dtype: int64

In [0]:
#18
X = df[['Pclass', 'Sex', 'Age', 'Fare', 'Family']]

In [61]:
X

             Pclass  Sex       Age     Fare  Family
PassengerId
1                 3    1  22.00000   7.2500       1
2                 1    0  38.00000  71.2833       1
3                 3    0  26.00000   7.9250       0
4                 1    0  35.00000  53.1000       1
5                 3    1  35.00000   8.0500       0
...             ...  ...       ...      ...     ...
887               2    1  27.00000  13.0000       0
888               1    0  19.00000  30.0000       0
889               3    0  25.14062  23.4500       3
890               1    1  26.00000  30.0000       0
891               3    1  32.00000   7.7500       0

[891 rows x 5 columns]

In [0]:
#19
y = df[['Survived']]

In [63]:
y

             Survived
PassengerId
1                   0
2                   1
3                   1
4                   1
5                   0
...               ...
887                 0
888                 1
889                 0
890                 1
891                 0

[891 rows x 1 columns]

### Logistic Regression

In [0]:
#20
X_scaled = scale(X)

In [0]:
#21
X_train, X_val, y_train, y_val = train_test_split(X_scaled, y, test_size=0.2, random_state=101)

In [69]:
#22
print('X_train.shape: ', X_train.shape, 'y_train.shape: ', y_train.shape)

X_train.shape:  (712, 5) y_train.shape:  (712, 1)

### Neural Network

In [70]:
#23
input_layer = Input(shape=(X_train.shape[1]))
output = Dense(y_train.shape[1], activation='sigmoid')(input_layer)
model = Model(inputs=input_layer, outputs=output)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [0]:
#24
from keras import layers, models
model.compile(optimizer='rmsprop', loss='mse', metrics=['acc'])

In [85]:
#25
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 5)]               0
_________________________________________________________________
dense (Dense)                (None, 1)                 6
=================================================================
Total params: 6
Trainable params: 6
Non-trainable params: 0
_________________________________________________________________

In [86]:
#26
history = model.fit(X_train, y_train, batch_size=8, epochs=30, validation_split=0.2)

Train on 569 samples, validate on 143 samples
Epoch 1/30
569/569 [==============================] - 0s 255us/sample - loss: 0.1484 - acc: 0.7909 - val_loss: 0.1499 - val_acc: 0.7832
Epoch 2/30
569/569 [==============================] - 0s 169us/sample - loss: 0.1480 - acc: 0.7909 - val_loss: 0.1495 - val_acc: 0.7832
Epoch 3/30
569/569 [==============================] - 0s 164us/sample - loss: 0.1476 - acc: 0.7909 - val_loss: 0.1489 - val_acc: 0.7762
Epoch 4/30
569/569 [==============================] - 0s 177us/sample - loss: 0.1473 - acc: 0.7909 - val_loss: 0.1482 - val_acc: 0.7762
Epoch 5/30
569/569 [==============================] - 0s 158us/sample - loss: 0.1470 - acc: 0.7909 - val_loss: 0.1479 - val_acc: 0.7762
Epoch 6/30
569/569 [==============================] - 0s 163us/sample - loss: 0.1467 - acc: 0.7909 - val_loss: 0.1475 - val_acc: 0.7762
Epoch 7/30
569/569 [==============================] - 0s 188us/sample - loss: 0.1465 - acc: 0.7909 - val_loss: 0.1471 - val_acc: 0.7832
Epoch 8/30
569/569 [==============================] - 0s 156us/sample - loss: 0.1462 - acc: 0.7926 - val_loss: 0.1468 - val_acc: 0.7832
Epoch 9/30
569/569 [==============================] - 0s 159us/sample - loss: 0.1459 - acc: 0.7926 - val_loss: 0.1465 - val_acc: 0.7832
Epoch 10/30
569/569 [==============================] - 0s 167us/sample - loss: 0.1457 - acc: 0.7944 - val_loss: 0.1459 - val_acc: 0.7832
Epoch 11/30
569/569 [==============================] - 0s 156us/sample - loss: 0.1455 - acc: 0.7944 - val_loss: 0.1456 - val_acc: 0.7832
Epoch 12/30
569/569 [==============================] - 0s 166us/sample - loss: 0.1453 - acc: 0.7944 - val_loss: 0.1454 - val_acc: 0.7832
Epoch 13/30
569/569 [==============================] - 0s 176us/sample - loss: 0.1451 - acc: 0.7961 - val_loss: 0.1452 - val_acc: 0.7832
Epoch 14/30
569/569 [==============================] - 0s 181us/sample - loss: 0.1450 - acc: 0.7944 - val_loss: 0.1449 - val_acc: 0.7832
Epoch 15/30
569/569 [==============================] - 0s 158us/sample - loss: 0.1448 - acc: 0.7926 - val_loss: 0.1447 - val_acc: 0.7832
Epoch 16/30
569/569 [==============================] - 0s 151us/sample - loss: 0.1447 - acc: 0.7944 - val_loss: 0.1445 - val_acc: 0.7832
Epoch 17/30
569/569 [==============================] - 0s 153us/sample - loss: 0.1445 - acc: 0.7926 - val_loss: 0.1443 - val_acc: 0.7832
Epoch 18/30
569/569 [==============================] - 0s 156us/sample - loss: 0.1444 - acc: 0.7926 - val_loss: 0.1440 - val_acc: 0.7832
Epoch 19/30
569/569 [==============================] - 0s 161us/sample - loss: 0.1442 - acc: 0.7926 - val_loss: 0.1437 - val_acc: 0.7832
Epoch 20/30
569/569 [==============================] - 0s 159us/sample - loss: 0.1441 - acc: 0.7926 - val_loss: 0.1434 - val_acc: 0.7832
Epoch 21/30
569/569 [==============================] - 0s 169us/sample - loss: 0.1440 - acc: 0.7926 - val_loss: 0.1431 - val_acc: 0.7832
Epoch 22/30
569/569 [==============================] - 0s 166us/sample - loss: 0.1439 - acc: 0.7944 - val_loss: 0.1428 - val_acc: 0.7832
Epoch 23/30
569/569 [==============================] - 0s 156us/sample - loss: 0.1437 - acc: 0.7944 - val_loss: 0.1426 - val_acc: 0.7832
Epoch 24/30
569/569 [==============================] - 0s 163us/sample - loss: 0.1436 - acc: 0.7961 - val_loss: 0.1425 - val_acc: 0.7832
Epoch 25/30
569/569 [==============================] - 0s 152us/sample - loss: 0.1436 - acc: 0.7944 - val_loss: 0.1422 - val_acc: 0.7902
Epoch 26/30
569/569 [==============================] - 0s 167us/sample - loss: 0.1435 - acc: 0.7944 - val_loss: 0.1421 - val_acc: 0.7972
Epoch 27/30
569/569 [==============================] - 0s 166us/sample - loss: 0.1434 - acc: 0.7944 - val_loss: 0.1419 - val_acc: 0.7972
Epoch 28/30
569/569 [==============================] - 0s 152us/sample - loss: 0.1433 - acc: 0.7979 - val_loss: 0.1417 - val_acc: 0.7972
Epoch 29/30
569/569 [==============================] - 0s 156us/sample - loss: 0.1432 - acc: 0.7979 - val_loss: 0.1416 - val_acc: 0.7972
Epoch 30/30
569/569 [==============================] - 0s 151us/sample - loss: 0.1432 - acc: 0.7979 - val_loss: 0.1415 - val_acc: 0.7972

In [87]:
#27
score = model.evaluate(X_val, y_val)

179/179 [==============================] - 0s 91us/sample - loss: 0.1425 - acc: 0.7989

In [88]:
#28
print("test_score:", score[0])

test_score: 0.14251200904726316

In [92]:
#28
print("acc:", score[1])

acc: 0.79888266

In [0]:
#29
layer_1 = Dense(15, activation='relu')(input_layer)
layer_2 = Dense(10, activation='relu')(layer_1)

In [0]:
output = Dense(y_train.shape[1], activation='tanh')(layer_2)

In [0]:
neural_model = Model(inputs=input_layer, outputs=output)

In [0]:
#30
neural_model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['acc'])

In [100]:
#31
neural_model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 5)]               0
_________________________________________________________________
dense_1 (Dense)              (None, 15)                90
_________________________________________________________________
dense_2 (Dense)              (None, 10)                160
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 261
Trainable params: 261
Non-trainable params: 0
_________________________________________________________________

In [101]:
#32
history = neural_model.fit(X_train, y_train, batch_size=8, epochs=30, validation_split=0.2)

Train on 569 samples, validate on 143 samples
Epoch 1/30
569/569 [==============================] - 0s 587us/sample - loss: 4.2366 - acc: 0.6257 - val_loss: 2.6319 - val_acc: 0.6713
Epoch 2/30
569/569 [==============================] - 0s 278us/sample - loss: 2.8100 - acc: 0.6432 - val_loss: 1.4560 - val_acc: 0.6853
Epoch 3/30
569/569 [==============================] - 0s 261us/sample - loss: 2.0538 - acc: 0.6749 - val_loss: 1.1026 - val_acc: 0.6853
Epoch 4/30
569/569 [==============================] - 0s 245us/sample - loss: 1.6271 - acc: 0.6784 - val_loss: 1.0386 - val_acc: 0.6993
Epoch 5/30
569/569 [==============================] - 0s 247us/sample - loss: 1.1372 - acc: 0.7030 - val_loss: 0.9391 - val_acc: 0.7203
Epoch 6/30
569/569 [==============================] - 0s 253us/sample - loss: 0.9084 - acc: 0.7399 - val_loss: 0.8312 - val_acc: 0.7273
Epoch 7/30
569/569 [==============================] - 0s 246us/sample - loss: 0.7475 - acc: 0.7522 - val_loss: 0.8228 - val_acc: 0.7622
Epoch 8/30
569/569 [==============================] - 0s 267us/sample - loss: 0.7070 - acc: 0.7610 - val_loss: 0.7281 - val_acc: 0.7552
Epoch 9/30
569/569 [==============================] - 0s 246us/sample - loss: 0.6969 - acc: 0.7645 - val_loss: 0.7140 - val_acc: 0.7622
Epoch 10/30
569/569 [==============================] - 0s 248us/sample - loss: 0.6894 - acc: 0.7627 - val_loss: 0.7019 - val_acc: 0.7622
Epoch 11/30
569/569 [==============================] - 0s 257us/sample - loss: 0.6816 - acc: 0.7663 - val_loss: 0.6948 - val_acc: 0.7622
Epoch 12/30
569/569 [==============================] - 0s 251us/sample - loss: 0.6344 - acc: 0.7592 - val_loss: 0.5994 - val_acc: 0.7413
Epoch 13/30
569/569 [==============================] - 0s 247us/sample - loss: 0.5950 - acc: 0.7575 - val_loss: 0.5901 - val_acc: 0.7483
Epoch 14/30
569/569 [==============================] - 0s 237us/sample - loss: 0.5888 - acc: 0.7680 - val_loss: 0.5824 - val_acc: 0.7552
Epoch 15/30
569/569 [==============================] - 0s 250us/sample - loss: 0.5831 - acc: 0.7680 - val_loss: 0.5736 - val_acc: 0.7622
Epoch 16/30
569/569 [==============================] - 0s 220us/sample - loss: 0.5795 - acc: 0.7768 - val_loss: 0.5702 - val_acc: 0.7622
Epoch 17/30
569/569 [==============================] - 0s 244us/sample - loss: 0.5754 - acc: 0.7750 - val_loss: 0.5624 - val_acc: 0.7622
Epoch 18/30
569/569 [==============================] - 0s 247us/sample - loss: 0.5703 - acc: 0.7750 - val_loss: 0.5571 - val_acc: 0.7622
Epoch 19/30
569/569 [==============================] - 0s 227us/sample - loss: 0.5663 - acc: 0.7856 - val_loss: 0.5517 - val_acc: 0.7762
Epoch 20/30
569/569 [==============================] - 0s 233us/sample - loss: 0.5642 - acc: 0.7891 - val_loss: 0.5477 - val_acc: 0.7972
Epoch 21/30
569/569 [==============================] - 0s 234us/sample - loss: 0.5605 - acc: 0.7926 - val_loss: 0.5458 - val_acc: 0.7972
Epoch 22/30
569/569 [==============================] - 0s 263us/sample - loss: 0.5575 - acc: 0.7909 - val_loss: 0.5433 - val_acc: 0.8042
Epoch 23/30
569/569 [==============================] - 0s 256us/sample - loss: 0.5542 - acc: 0.8032 - val_loss: 0.5398 - val_acc: 0.8182
Epoch 24/30
569/569 [==============================] - 0s 252us/sample - loss: 0.5529 - acc: 0.8049 - val_loss: 0.5362 - val_acc: 0.8112
Epoch 25/30
569/569 [==============================] - 0s 240us/sample - loss: 0.5492 - acc: 0.8014 - val_loss: 0.5362 - val_acc: 0.8182
Epoch 26/30
569/569 [==============================] - 0s 254us/sample - loss: 0.5476 - acc: 0.8067 - val_loss: 0.5348 - val_acc: 0.8112
Epoch 27/30
569/569 [==============================] - 0s 282us/sample - loss: 0.5433 - acc: 0.8067 - val_loss: 0.5319 - val_acc: 0.8182
Epoch 28/30
569/569 [==============================] - 0s 252us/sample - loss: 0.5410 - acc: 0.8084 - val_loss: 0.5305 - val_acc: 0.8252
Epoch 29/30
569/569 [==============================] - 0s 255us/sample - loss: 0.5391 - acc: 0.8120 - val_loss: 0.5347 - val_acc: 0.8042
Epoch 30/30
569/569 [==============================] - 0s 260us/sample - loss: 0.5311 - acc: 0.8067 - val_loss: 0.4728 - val_acc: 0.7762

In [102]:
#33
score = neural_model.evaluate(X_val, y_val)

179/179 [==============================] - 0s 61us/sample - loss: 0.4695 - acc: 0.8045

In [103]:
#34
print("test_score:", score[0], " and test_accuracy:", score[1])

test_score: 0.4695109560169987  and test_accuracy: 0.8044693

### Decision Tree

In [0]:
#35
decisiontree_model = DecisionTreeClassifier(random_state=101, max_leaf_nodes=50)

In [105]:
#36
decisiontree_model.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=50,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=101, splitter='best')

In [0]:
#37
predict_tree = decisiontree_model.predict(X_val)

In [110]:
#38
print('acc: ', accuracy_score(y_val, predict_tree))

acc:  0.8156424581005587

### Preprocess, and fit test data

In [0]:
#39
df_test['Family'] = df_test['SibSp'] + df_test['Parch']

In [112]:
#40
df_test.groupby(['Pclass'])['Age'].mean()

Pclass
1    40.918367
2    28.777500
3    24.027945
Name: Age, dtype: float64

In [0]:
#41
df_test['Age'] = df_test['Age'].fillna(df_test.groupby(['Pclass'])['Age'].transform(np.mean))

In [0]:
#42
df_test['Embarked'] = df_test['Embarked'].fillna('S')

In [115]:
#43
sex_replace = {'female': 0, 'male': 1}
df_test = df_test.replace({'Sex': sex_replace})
df_test.astype({'Sex':'float32'}).dtypes

Pclass        int64
Name         object
Sex         float32
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
Family        int64
dtype: object

In [0]:
#44
scale_test = df_test[['Pclass', 'Sex', 'Age', 'Fare', 'Family']]
new_scaled = scale(scale_test)

In [0]:
#45
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
k_fold = KFold(n_splits=5, shuffle=True, random_state=0)

In [0]:

def accuracy_score(model):
  return np.mean(cross_val_score(model, x_train,y_train, cv=k_fold, scoring="accuracy"))

# Which approach did you choose and why?